<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ .Title }} -- {{ .Site.Title }}</title>

    {{ if .RSSlink }}
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <link href="{{ .Site.BaseURL }}/img/favicon.ico" rel="icon">

    <!-- Bootstrap Core CSS -->
    <link href="{{ .Site.BaseURL }}/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font-awesome.min.css">

    <!-- Prism CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/prism.css"/>

    <!-- Theme CSS -->
    <link href="{{ .Site.BaseURL }}/css/bleve.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <!-- Navigation -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <a href="/"><img class="logo" src="{{ .Site.BaseURL }}/img/bleve-icon-placard-small.png"/></a>
                    <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
                </div>

                {{ partial "navbar.html" . }}
            </div>
            <!-- /.container -->
        </nav>