{{ partial "header.html" .}}

<h1>{{ .Title }}</h1>


<h3>Upcoming</h3>
<ul>
{{ range (where .Data.Pages "Section" "events") }}
	{{ if ge .Date.Unix now.Unix }}
		<li class="events-list">
			<a href="{{ .Permalink }}">
				<h4>{{ .Date.Format "Jan 2006" }} <img width="64" src="/img/events/{{.Params.icon}}"/> {{ .Title }}</h4>
			</a>
		</li>
	{{end}}
{{ end }}
Want us to speak at your meetup or conference?  <a href="mailto:info@blevesearch.com">Let us know.</a>
</ul>

<h3>Past</h3>
<ul>
{{ range (where .Data.Pages "Section" "events") }}
	{{ if lt .Date.Unix now.Unix }}
		<li class="events-list">
			<a href="{{ .Permalink }}">
				<h4>{{ .Date.Format "Jan 2006" }} <img width="64" src="/img/events/{{.Params.icon}}"/> {{ .Title }}</h4>
			</a>
		</li>
	{{end}}
{{ end }}
</ul>


{{ partial "footer.html" .}}
